*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; font-size: 20px ;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: rgba(254, 254, 244, 0.904); 
}

h1, h3, h2, p, h4 {
    font-family: "Roboto", sans-serif; 
}



.barra {
  background-color: #dd8623; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  padding: 5px 10%;
}

.barra .nav-links {
  list-style-type: none;
}


.barra .nav-links li {
    display:inline-block;
    padding: 0 1rem;
  }

.barra .nav-links li a {
    font-size: 500; color: white;
    text-decoration: none;

  }

.barra .nav-links li a:hover {
    background-color: #dfba90;
}

.barra .logo2 img {
  height: 3rem;
  width: auto; 
}

.barra .logo2 {
  margin-right: auto ;
}

.banner {
  width: 1520px; height: 300px;
}

.titulo h1 {
  padding: 0 20px;
  font-size: 30px;
 color:#434742;
 text-align: center;
 font-weight: 400;
 border-bottom: 2px solid #dd8623;
 padding-bottom: 1rem;
 
}

.titulo h2 {
  padding: 20px;
  margin: 10px;
  font-size: 25px;
 color: #292b29;
 text-align: center;
  font-weight: 300;
}

.tours_todos {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 7rem;
  justify-content: center;
 gap: 60px;
 width: 80%;
}

.tours_todos h2 {
  font-size: 25px;
  font-weight: 500;
  color:#dd8623;
}

.tours_todos h3 {
  font-size: 20px;
  color:#434742;
}

.tours_todos img {
width: 350px; height: 350px;
border-radius: 40px;
}

.tours_todos p {
  color: #434742;
  font-size: 18px;
}

.tour_texto {
  overflow: hidden;
  width: 325px;
}

.imagen_tour {
  transition: all .3s;
}

.imagen_tour:hover {
  filter: opacity(0.4);
} 

.boton-agregar {
  background-color: #dd8623;
  border-radius: 20px;
  padding: 10px;
  color: white;
 margin-left: 20px;
 margin-top: 20px;
 border-style: hidden;
}

.boton-agregar:hover {
  background-color: #dfba90;
}
.boton-borrar:hover {
  background-color: #dfba90;
}

.boton-pagar:hover {
  background-color: #dfba90;
}

#carrito h2 {
  color: #434742;
padding: 0 20px;
font-size: 30px;
text-align: center;
font-weight: 400;
border-bottom: 2px solid #dd8623;
padding-bottom: 1rem;
}

.carrito_contenido {
  justify-items: center;
  padding-top: 2rem ;
  padding-bottom: 3rem;
}
.carrito_contenido ul {
  list-style-type: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.carrito_contenido li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#boton-borrar {
  background-color: #dd8623;
  border-radius: 20px;
  padding: 10px;
  color: white;
 margin-left: 20px;
 margin-top: 20px;
 border-style: hidden;
}

#boton-pagar {
  background-color: #dd8623;
  border-radius: 20px;
  padding: 10px;
  color: white;
 margin-left: 20px;
 margin-top: 20px;
 border-style: hidden;
}

.video {
  display: block;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

iframe {
  margin-left: 6rem;
}


.video_titulo h2 {
    padding-bottom: 1rem;
    color: #434742;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid #dd8623;
    padding-bottom: 20px;
}

.formulario {
  margin: 2rem 7rem;
}

.celdas {
  padding-top: 1.5rem;
  width: 15%;
}

.celdas input {
  border-radius: .5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #c8c9c7;
}
/* revisar esto */
.formulario textarea {
  margin-top: 1rem;
  border-radius: .5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #c8c9c7;
}

.titulo_form {
color: #434742;
padding: 0 20px;
font-size: 30px;
text-align: center;
font-weight: 400;
border-bottom: 2px solid #dd8623;
padding-bottom: 1rem;
}

.titulo_celda {
  font-size: 17px ;
  padding-top: 20rem;

}

.opiniones_todos h2 {
  font-size: 1.5rem;
  padding: 0 20px;
 color:#434742;
 text-align: center;
 font-weight: 400;
 border-bottom: 2px solid #dd8623;
 padding-bottom: 1rem;
}
.opiniones {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 4rem;
margin: 1rem 7rem;
padding-bottom: 1rem;
}

.opiniones_todos h3 {
    font-size: .9rem;
}

.opinion {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid #dd8623;
  box-shadow: 10px 10px 20px #bec5bd;
}

.opinion p {
  font-size: 0.8rem;
}

.opiniones .estrella i {
  font-size: .7rem;
  color: rgb(193, 146, 29);
  
}
.estrella {
  color: #292b29;
  font-size: 15px;
  padding: .7rem 0;
}

.opiniones h4 {
color:#434742 ;
font-size: 14px;
padding-bottom:  0.7rem;
font-weight: 500;
}

@media (width < 600px){
  .opiniones {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 3rem;
    gap: 1rem;
  }
  .opiniones_todos h2 {
    margin: 0 3rem;
    
  }
}

.container {
max-width: 1200px;
margin: 0 auto;
}

footer {
  background-color: #434742; padding: 80px 0;
 
}

.footer-rows {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
 width: 20%;
 padding: 0 15px;
}

.footer-links h4 {
 margin-bottom: 25px; 
 color: #ffffff;
 font-size: 20px;
 font-weight: 500;
 border-bottom: 1px solid #dfba90 ;
 display: inline-block;
 padding: 10px;
}

.footer-links li {
list-style-type: none;
color: #bbbbbb;
}

.footer-links li a {
  text-decoration: none;
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  display: block  ;
  padding: 8px 0;
  transition: all .3s ease;
}

.footer-links ul li a:hover {
color: white; 
padding-left: 6px;
}

.footer-email a {
transition: all .3s ease;
}

.footer-email a:hover {
text-decoration:  underline;
}

.banner {
  width: 100%;
}

.social-link  a {
  display: inline-block;
  min-height: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  color: #bbbbbb;
  transition: all .3s ease;
  
}

.social-link  a:hover {
  padding-left: 6px;
} 

.footer-email a {
  text-decoration: none;
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  
}

.forms {
  margin-left: 400px;
  
}
.form-register {
  width: 70%;
  padding-top: 30px;
 }

.register {
  color: white;
  padding: 10px;
  font-size: 25px;
 font-weight: 500;
}

.boton {
  background-color: #dd8623;
  border-radius: 20px;
  padding: 10px;
  color: white;
 margin-left: 20px;
 margin-top: 20px;
 border-style: hidden;
 
}

.boton:hover {
  background-color: #dfba90;
}

.escribe {
  border: 10px;
  width: 100%;
  height: 90%;
  padding: 10px;
  border-radius: 10px;
 color: black;
   
}

.derechos {
  font-size: 13px;
}




